<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{ nav.html::navbar }"></div>
    <div class="card" th:each="item:${items}">
        <img th:src="@{${#strings.isEmpty(item.imageUrl) ? 'https://placehold.co/300' : item.imageUrl}}"
             alt="" />
        <div>
            <h4 th:text="${item.title}" ></h4>
            <p th:text="${item.price}"></p>
            <a th:href="@{/detail/{id}(id = ${item.id})}">상세</a>
            <a th:href="@{/update/{id}(id = ${item.id})}">수정</a>
            <button th:onclick="|fetchDelete([[${item.id}]])|">삭제</button>
        </div>
    </div>
    <nav class="pagination" aria-label="Pagination">
        <!-- Prev -->
        <a class="page-link"
           th:classappend="${items.hasPrevious()} ? '' : 'is-disabled'"
           th:href="@{/list/page/{p}(p=${items.number})}">
            ‹ Prev
        </a>

        <!-- Page numbers -->
        <a class="page-link"
           th:each="i : ${#numbers.sequence(1, items.totalPages)}"
           th:href="@{/list/page/{p}(p=${i})}"
           th:text="${i}"
           th:classappend="${i == items.number + 1} ? 'is-active' : ''">
        </a>

        <!-- Next -->
        <a class="page-link"
           th:classappend="${items.hasNext()} ? '' : 'is-disabled'"
           th:href="@{/list/page/{p}(p=${items.number + 2})}">
            Next ›
        </a>
    </nav>
<script>
    async function fetchDelete(id) {
        const response = await fetch('/delete/' + id, {
            method: 'DELETE'
        });
        if (response.ok) {
            alert('삭제되었습니다.');
            window.location.reload();
        } else {
            alert('삭제 실패');
        }
    }
</script>
</body>
</html>